/* RESET GENERALE */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    width: 100%;
    background-color: white;
}



.list_header{
    list-style: none;
    display: flex;
    
}

main{
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
}

main > aside{
    width: 200px;
    height: 100%;
    background-color: rgba(5,30,52,255);
}

#list_aside{
    list-style: none;
    padding: 20px 20px;
    color: white;
}

#list_aside > *{
    padding: 10px ;
}



#main-header {
    width: calc(100% - 200px);
    height: 100%;
    overflow: auto;
}

.row_main_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.etichette{
    background-color: #165bba;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    width: auto;
    text-align: center;
    margin-left: 10px;
    font-size: 12px;

}


.main_main{
    background-color: rgba(247,247,247,255);
}

.titolo_pannelli{
    background-color: rgba(240,240,240,255);
    margin-top: 10px;
}

.box_right_bottom >div>img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}


/* MEDIA QUERY */

@media all and (max-width: 992px) {
    main > aside{
        width: 100px;
        
    }
    
    #main-header {
        width: calc(100% - 100px);
        
    }
}